---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<div class="min-w-full min-h-full bg-slate-700 bg-opacity-5">
		<div class="pb-2">
			<h2 class="font-sans font-bold text-3xl md:text-6xl gap-10 text-white">
				About Section
			</h2>
			<p
				class="font-bold sm:text-xs text-md uppercase bg-gradient-to-b from-teal-300 to-teal-500 inline-block text-transparent bg-clip-text whitespace-nowrap w-full"
			>
				Shoutout to all the items used and people who helped me create this
				website.
			</p>
			<hr class="border-y-blue-700 pb-2" />
		</div>

		<div class="text-white">
			<p>Credit</p>
		</div>
		<div
			class="px-4 min-w-full rounded-xl capitalize text-sm text-slate-300 pb-5"
		>
			<p>
				Cards in Project Section: <a
					class="text-sky-400 underline-offset-2 underline decoration-dashed"
					href="https://www.youtube.com/watch?v=DCRcFf39SYo"
					target="_blank">[Youtube] Kevin Powell</a
				>
			</p>
			<p>
				Navigation Bar Inspiration: <a
					class="text-sky-400 underline-offset-2 underline decoration-dashed"
					href="https://www.youtube.com/watch?v=PuLujpkLRUM"
					target="_blank">[Youtube] Online Tutorials</a
				>
			</p>
			<p>
				Home Page Inspiration: <a
					class="text-sky-400 underline-offset-2 underline decoration-dashed"
					href="https://www.dota2.com/hero/bloodseeker"
					target="_blank">Dota Hero Page</a
				>
			</p>
			<p>
				Context Menu Inspiration: <a
					class="text-sky-400 underline-offset-2 underline decoration-dashed"
					href="https://dev.to/stackfindover/how-to-create-a-custom-right-click-menu-54h2"
					target="_blank">Custom Right Click Menu</a
				>
			</p>
			<p>
				Hobby Page Inspiration: <a
					class="text-sky-400 underline-offset-2 underline decoration-dashed"
					href="https://knowyourmeme.com/memes/political-compass/photos"
					target="_blank">Political Compass</a
				>
			</p>
			<p>
				Contact Page Inspiration: <a
					class="text-sky-400 underline-offset-2 underline decoration-dashed"
					href="https://flowbite.com/docs/components/device-mockups/"
					target="_blank">Flowbite Device Mockup</a
				>
			</p>
			<p>
				ParticleJS: <a
					class="text-sky-400 underline-offset-2 underline decoration-dashed"
					href="https://codepen.io/VincentGarreau/pen/bGxvQd"
					target="_blank">[CodePen] VincentGarreau</a
				>
			</p>
			<p>
				ViewTransition API: <a
					class="text-sky-400 underline-offset-2 underline decoration-dashed"
					href="https://www.youtube.com/watch?v=lsXqparnx24"
					target="_blank">[Youtube] Fireship</a
				>
			</p>
		</div>
		<div class="pb-2">
			<p class="text-white">Technologies Used:</p>
		</div>
		<div class="px-4 min-w-full rounded-xl capitalize text-sm text-slate-300 pb-5">
			<div class="flex flex-row">
					<a href="https://atomiks.github.io/tippyjs/" title="Tippy"><img class="m-[6px] h-[48px]" src="/icons/tippy.svg" alt="Tippy"></a>
					<a href="https://astro.build/" title="AstroJS"><img class="m-[6px] h-[48px]" src="/skills/astro2.svg" alt="Astro"></a>
					<a href="https://tailwindcss.com/" title="TailwindCSS"><img class="m-[6px] h-[48px]" src="/skills/tailwindcss.svg" alt="Tailwind"></a>
					<a href="https://www.netlify.com/" title="Netlify"><img class="m-[6px] h-[48px]" src="/skills/cloud/netlify.svg" alt="Netlify"></a>
			</div>
		</div>
		<div>
			<p class="text-white">Tools Used:</p>
		</div>
		<div class="px-4 min-w-full rounded-xl capitalize text-sm text-slate-300 pb-5">
			<p>Hobby Section CSS Square Pattern Generation: <a href="https://www.magicpattern.design/tools/css-backgrounds" class="text-sky-400 underline-offset-2 underline decoration-dashed">MagicPattern</a></p>
		</div>
		<div class="text-white">
			<p>Version Info & Disclaimer</p>
		</div>
		<div class="px-4 min-w-full rounded-xl capitalize text-sm text-slate-300">
			<p class="text-justify">
				<p class="text-sm uppercase">Version 1.0 : Basic Sceleton Added</p>
				<hr class="border-y-blue-700" />
				<p>
					I do not own any art/image on this website. If you think I forgot to
					give you credit for your art, contact me.
				</p>
				<p>
					This website uses GPL 3.0. So you are FREE to use it as per the T&C.
				</p>
			</p>
		</div>
	</div>
</MainLayout>
