---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<div class="min-w-full min-h-full bg-slate-700 bg-opacity-5">
		<div class="pb-2">
			<h2 class="font-sans font-bold text-3xl md:text-6xl gap-10 text-white">
				About Section
			</h2>
			<p
				class="font-bold sm:text-xs text-md uppercase bg-gradient-to-b from-teal-300 to-teal-500 inline-block text-transparent bg-clip-text whitespace-nowrap w-full"
			>
				Shoutout to all the items used and people who helped me create this
				website.
			</p>
			<hr class="border-y-blue-700 pb-2" />
		</div>
		<div class="text-white">
			<p>Version Info & Disclaimer</p>
		</div>
		<div class="px-4 min-w-full rounded-xl capitalize text-sm text-slate-300">
			<p class="text-justify">
				<p class="text-sm uppercase">Version 1.0 : Basic Sceleton Added</p>
				<hr class="border-y-blue-700" />
				<p>
					I do not own any art/image on this website. If you think I forgot to
					give you credit for your art, contact me.
				</p>
				<p>
					This website uses GPL 3.0. So you are FREE to use it as per the T&C.
				</p>
			</p>
		</div>
	</div>
</MainLayout>
