---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import MainLayout from "../layouts/MainLayout.astro";
---
<head>
	<BaseHead title={"Hobby | "+ SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<MainLayout>
	<div class="min-w-full min-h-full">
		<div class="col-span-4 pb-2">
			<h2
				class="font-sans font-bold text-3xl md:text-6xl gap-10 text-white text-right"
			>
				Hobby Section
			</h2>
			<p
				class="font-bold sm:text-xs text-md uppercase bg-gradient-to-b from-teal-300 to-teal-500 inline-block text-transparent bg-clip-text whitespace-nowrap text-right w-full"
			>
				Some recommendations from a fellow man of culture!!
				<hr class="border-orange-500" />
			</p>
		</div>
		<div
			class="text-white flex flex-row flex-wrap h-[75vh] relative justify-center align-middle"
		>
			<div
				class="basis-1/2 border-2 border-red-400 border-r-0 border-b-0 bg-red-200 bg-opacity-10"
				style="background-color: rgba(f8, 71, 71, 0.01);
				background-image:  linear-gradient(rgb(248,113,113,.1) 1.6px, transparent 1.6px), linear-gradient(to right, rgb(248,113,113,.1) 1.6px, transparent 1.6px);
				background-size: 32px 32px;
			"
			>
				<p class="bg-gradient-to-r from-red-400 px-2">Books</p>
				<div class="p-2 flex overflow-x-auto justify-center h-full">
					<div class="flex flex-col justify-center p-2">
						<img
							src="/hobby/thus_spoke_zarathustra.jpg"
							class="h-36 w-24 self-center pb-2"
							alt=""
						/>
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Thus Spoke Zarathustra
						</p>
					</div>
					<div class="flex flex-col justify-center p-2">
						<img
							src="/hobby/the_count_of_monte_cristo.jpg"
							class="h-36 w-24 self-center"
							alt=""
						/>
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							The Count of Monte Cristo
						</p>
					</div>
					<div class="flex flex-col justify-center p-2">
						<img
							src="/hobby/upanishads.jpg"
							class="h-36 w-24 self-center"
							alt=""
						/>
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							The Principal Upanishads
						</p>
					</div>
					<div class="flex flex-col justify-center p-2">
						<img
							src="/hobby/republic.jpg"
							class="h-36 w-24 self-center"
							alt=""
						/>
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Republic by Plato
						</p>
					</div>
				</div>
			</div>
			<div
				class="basis-1/2 border-2 border-blue-400 border-l-0 border-b-0 bg-blue-200 bg-opacity-10"
				style="background-color: rgba(96,165,248,0.01);
				background-image:  linear-gradient(rgba(96,165,248,0.1) 1.6px, transparent 1.6px), linear-gradient(to right, rgba(96,165,248,0.1) 1.6px, transparent 1.6px);
				background-size: 32px 32px;
			"
			>
				<p class="bg-gradient-to-l from-blue-400 px-2 text-right">Anime</p>
				<div class="p-2 flex overflow-x-auto justify-around h-full">
					<div class="flex flex-col justify-center p-2">
						<img src="/hobby/gits.jpg" class="h-36 w-24 self-center" alt="" />
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Ghost In The Shell
						</p>
					</div>
					<div class="flex flex-col justify-center p-2">
						<img
							src="/hobby/gankutsuou.jpg"
							class="h-36 w-24 self-center"
							alt=""
						/>
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Gankutsuou
						</p>
					</div>
					<div class="flex flex-col justify-center p-2">
						<img
							src="/hobby/kino_journey.jpg"
							class="h-36 w-24 self-center"
							alt=""
						/>
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Kino's Journey
						</p>
					</div>
					<div class="flex flex-col justify-center p-2">
						<img
							src="/hobby/monster.jpg"
							class="h-36 w-24 self-center"
							alt=""
						/>
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Monster
						</p>
					</div>
				</div>
			</div>
			<div
				class="basis-1/2 border-2 border-green-400 border-r-0 border-t-0 relative bg-green-200 bg-opacity-10"
				style="background-color: rgba(74,222,128,0.01);
				background-image:  linear-gradient(rgba(74,222,128,0.1) 1.6px, transparent 1.6px), linear-gradient(to right, rgba(74,222,128,0.1) 1.6px, transparent 1.6px);
				background-size: 32px 32px;
			"
			>
				<div class="p-2 flex overflow-x-auto justify-around h-full">
					<div class="flex flex-col justify-center p-2">
						<img
							src="/hobby/darksouls3.webp"
							class="h-36 w-24 self-center"
							alt=""
						/>
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Dark Souls 3 : DE
						</p>
					</div>
					<div class="flex flex-col justify-center p-2">
						<img
							src="/hobby/quake3.webp"
							class="h-36 w-24 self-center"
							alt=""
						/>
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Quake 3 : Team Arena
						</p>
					</div>
					<div class="flex flex-col justify-center p-2">
						<img src="/hobby/halo2.webp" class="h-36 w-24 self-center" alt="" />
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Halo 2 Anniversary
						</p>
					</div>
					<div class="flex flex-col justify-center p-2">
						<img src="/hobby/civ6.jpg" class="h-36 w-24 self-center" alt="" />
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Civilization 6
						</p>
					</div>
				</div>
				<p
					class="bg-gradient-to-r from-green-400 px-2 absolute bottom-0 left-0 w-full"
				>
					Games
				</p>
			</div>
			<div
				class="basis-1/2 border-2 border-purple-400 border-l-0 border-t-0 relative bg-purple-200 bg-opacity-10"
				style="background-color: rgba(192,132,252,0.01);
				background-image:  linear-gradient(rgba(192,132,252,0.1) 1.6px, transparent 1.6px), linear-gradient(to right, rgba(192,132,252,0.1) 1.6px, transparent 1.6px);
				background-size: 32px 32px;
			"
			>
				<div class="p-2 flex overflow-x-auto justify-around h-full">
					<div class="flex flex-col justify-center p-2">
						<img
							src="/hobby/hammercurl.png"
							class="h-36 w-24 self-center object-cover"
							alt=""
						/>
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Dumbell / Hammer Curl
						</p>
					</div>
					<div class="flex flex-col justify-center p-2">
						<img
							src="/hobby/handstand.png"
							class="h-36 w-24 self-center object-cover"
							alt=""
						/>
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Handstand
						</p>
					</div>
					<div class="flex flex-col justify-center p-2">
						<img
							src="/hobby/pushup.jpg"
							class="h-36 w-24 self-center object-cover"
							alt=""
						/>
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Pushups
						</p>
					</div>
					<div class="flex flex-col justify-center p-2">
						<img
							src="/hobby/skullcrushers.jpg"
							class="h-36 w-24 self-center object-left object-cover"
							alt=""
						/>
						<p
							class="text-zinc-400 uppercase text-sm tracking-widest font-extralight text-center"
						>
							Skull Crushers
						</p>
					</div>
				</div>
				<p
					class="bg-gradient-to-l from-purple-400 px-2 text-right absolute bottom-0 right-0 w-full"
				>
					Exercise
				</p>
			</div>
		</div>
	</div>
</MainLayout>
