---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<section id="introPage" class="grid grid-cols-4 gap-10 py-14 flex-grow">
		<div class="flex flex-col text-white col-span-2">
			<div class="flex flex-row items-center min-w-full pb-1">
				<div class="h-[32px]">
					<img
						src="hero_agility.png"
						class="rounded px-0 mx-0 border-x-0 max-w-none h-[2rem]"
						alt=""
						srcset=""
					/>
				</div>
				<p class="pl-3 text-2xl font-extralight font-mono flex-grow">
					FullStack
				</p>
			</div>
			<h2 class="font-sans font-bold text-3xl md:text-6xl gap-10 text-white">
				Shounak B
			</h2>
			<div class="flex flex-row py-2">
				<p
					class="font-bold sm:text-xs text-md uppercase bg-gradient-to-b from-teal-300 to-teal-500 inline-block text-transparent bg-clip-text whitespace-nowrap"
				>
					Graduate with a passion to learn new technologies.
				</p>
			</div>
			<div class="group">
				<!-- <p>
                    A splintered fragment of the same primordial power as the Ancients themselves, Zet the Arc Warden has pledged to see the clash between Radiant and Dire finally end. Assault lone enemies with fluxing energy, or distort space to generate a protective field around allies. Summon a Spark Wraith to patrol an area for enemies to infuse with harmful magic, then create a double of Zet, items and all, to overwhelm your foes.
                </p> -->
				<p class="text-justify">
					The Code-Magus is the architect of the digital Imperium, a master of
					both front-end and back-end sorcery. With keystrokes that resonate
					like incantations, they summon intricate spells of code to mend the
					fractured tapestry of a crumbling digital realm.
				</p>
				<a
					href="resume/Shounak_Bhalerao_Resume.pdf"
					target="_blank"
					class="text-zinc-400 hover:text-zinc-200 underline text-sm"
					>Read Full History</a
				>
				<span class="invisible group-hover:visible">
					👈<span
						class="text-sm font-bold sm:text-xs text-md uppercase bg-gradient-to-r from-orange-300 via-emerald-400 to-teal-500 inline-block text-transparent bg-clip-text whitespace-nowrap"
					>
						(download resume button)</span
					></span
				>
			</div>
			<div class="pt-10 h-full">
				<p
					class="text-zinc-400 uppercase text-sm tracking-widest font-extralight pb-4"
				>
					Main Language
				</p>
				<div class="flex flex-row gap-10 pl-1">
					<div class="flex flex-row gap-2 h-[32px] align-center items-center">
						<img src="java.svg" class="h-[32px]" />
						<p class="text-white uppercase text-sm tracking-widest">JAVA 14</p>
					</div>
					<div class="flex flex-row gap-2 h-[32px] align-center items-center">
						<img src="kotlin.svg" class="h-[32px]" />
						<p class="text-white uppercase text-sm tracking-widest">Kotlin</p>
					</div>
				</div>
				<div class="flex-grow-1 pt-6 w-2/3">
					<div
						class="text-zinc-400 uppercase text-sm tracking-widest font-extralight"
					>
						Roles
					</div>
					<div class="p-3 rounded-xl">
						<div class="grid grid-rows-3 grid-cols-3 min-w-full gap-4">
							<div>
								<div class="text-white uppercase text-xs tracking-widest pb-2">
									frontend
								</div>
								<div class="w-full bg-gray-200 dark:bg-gray-700">
									<div class="bg-white h-1 shadow-white shadow-inner w-1/3">
									</div>
								</div>
							</div>
							<div>
								<div>
									<div
										class="text-white uppercase text-xs tracking-widest pb-2"
									>
										backend
									</div>
									<div class="w-full bg-gray-200 dark:bg-gray-700">
										<div class="bg-white h-1 shadow-white shadow-inner w-full">
										</div>
									</div>
								</div>
							</div>
							<div>
								<div>
									<div
										class="text-white uppercase text-xs tracking-widest pb-2"
									>
										devops
									</div>
									<div class="w-full bg-gray-200 dark:bg-gray-700">
										<div class="bg-white h-1 shadow-white shadow-inner w-1/3">
										</div>
									</div>
								</div>
							</div>
							<div>
								<div>
									<div
										class="text-white uppercase text-xs tracking-widest pb-2"
									>
										documentation
									</div>
									<div class="w-full bg-gray-200 dark:bg-gray-700">
										<div class="bg-white h-1 shadow-white shadow-inner w-2/3">
										</div>
									</div>
								</div>
							</div>
							<div>
								<div>
									<div
										class="text-white uppercase text-xs tracking-widest pb-2"
									>
										support
									</div>
									<div class="w-full bg-gray-200 dark:bg-gray-700">
										<div class="bg-white h-1 shadow-white shadow-inner w-2/3">
										</div>
									</div>
								</div>
							</div>
							<div>
								<div>
									<div
										class="text-white uppercase text-xs tracking-widest pb-2"
									>
										Networking
									</div>
									<div class="w-full bg-gray-200 dark:bg-gray-700">
										<div class="bg-white h-1 shadow-white shadow-inner w-0">
										</div>
									</div>
								</div>
							</div>
							<div>
								<div>
									<div
										class="text-white uppercase text-xs tracking-widest pb-2"
									>
										Cyber Security
									</div>
									<div class="w-full bg-gray-200 dark:bg-gray-700">
										<div class="bg-white h-1 shadow-white shadow-inner w-2/3">
										</div>
									</div>
								</div>
							</div>
							<div>
								<div>
									<div
										class="text-white uppercase text-xs tracking-widest pb-2"
									>
										Cloud
									</div>
									<div class="w-full bg-gray-200 dark:bg-gray-700">
										<div class="bg-white h-1 shadow-white shadow-inner w-full">
										</div>
									</div>
								</div>
							</div>
							<div>
								<div>
									<div
										class="text-white uppercase text-xs tracking-widest pb-2"
									>
										???
									</div>
									<div class="w-full bg-gray-200 dark:bg-gray-700">
										<div class="bg-white h-1 shadow-white shadow-inner w-2/3">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pt-8">
					<div
						class="text-zinc-400 uppercase text-sm tracking-widest font-extralight pb-3"
					>
						Recommendations
					</div>
					<div data-recommendation-id="-1" class="flex flex-row gap-x-4">
						<ion-icon name="chevron-back-outline" onclick="before()" class="cursor-pointer"></ion-icon>
						<div class="text-justify w-3/4">
							<div
								id="recommendation-text"
								class="text-white uppercase text-xs tracking-widest overflow-hidden"
								style="line-clamp: 2;-webkit-line-clamp: 2;"
							>
								DUMMY TEXT
							</div>
							<p id="recommendation-name" class="text-right">~ DUMMY NAME</p>
							<p
								id="recommendation-occupation"
								class="text-right text-teal-500 uppercase text-xs tracking-widest whitespace-nowrap"
							>
								DUMMY OCCUPATION
							</p>
						</div>
						<ion-icon name="chevron-forward-outline" onclick="after()" class="cursor-pointer"
						></ion-icon>
					</div>
				</div>
			</div>
		</div>
		<div
			class="flex flex-col justify-center text-center gap-10 min-h-full min-w-full col-span-2"
		>
			<div class="">
				<div class="row-span-3 flex justify-center">
					<img
						src="archer.png"
						alt=""
						class="-scale-x-100 h-[800px] bg-gradient-to-tr via-slate-600 from-emerald-800"
					/>
				</div>
			</div>
			<div class="relative bottom-24">
				<p class="text-white uppercase text-sm tracking-widest min-w-full">
					Abilities
				</p>
				<div class="flex flex-row gap-2 justify-center bg-blend-darken">
					<img
						src="/skillicon/lion_finger_of_death.png"
						class="h-[60px] w-[60px] shadow-xl hover:scale-110 hover:transition-all duration-700 skillicon"
						alt=""
						srcset=""
					/>
					<img
						src="/skillicon/rattletrap_power_cogs.png"
						class="h-[60px] w-[60px] shadow-xl hover:scale-110 hover:transition-all duration-700 skillicon"
						alt=""
						srcset=""
					/>
					<img
						src="/skillicon/bounty_hunter_track.png"
						class="h-[60px] w-[60px] shadow-xl hover:scale-110 hover:transition-all duration-700 skillicon"
						alt=""
						srcset=""
					/>
					<img
						src="/skillicon/monkey_king_jingu_mastery.png"
						class="h-[60px] w-[60px] shadow-xl hover:scale-110 hover:transition-all duration-700 skillicon"
						alt=""
						srcset=""
					/>
					<img
						src="/skillicon/wisp_relocate.png"
						class="h-[60px] w-[60px] shadow-xl hover:scale-110 hover:transition-all duration-700 skillicon"
						alt=""
						srcset=""
					/>
					<img
						src="/skillicon/meepo_divided_we_stand.png"
						class="h-[60px] w-[60px] shadow-xl hover:scale-110 hover:transition-all duration-700 skillicon"
						alt=""
						srcset=""
					/>
				</div>
			</div>
		</div>
	</section>
</MainLayout>
<script defer is:inline>
function recommendationData() {
	return [
		{
			name: "Aashiya Singhal",
			occupation: "Software Developer",
			text: "Shounak and I started working in the project together 2 years back . He has amazing technical skills. He is definitely a team player , always ready to help other and resolve their doubts .",
		},
		{
			name: "Agrim Maheshwari",
			occupation: "Specialist Programmer",
			text: "Shounak Bhalerao is a fantastic person to work with, and is not only a multi-skilled and insightful colleague, but also an inspiring strategist. Very good person. Great employee with a very strong problem solving skills. Shounak Bhalerao is an asset to any company.",
		},
		{
			name: "Ayush Kumar",
			occupation: "SAP Consultant",
			text: "I and Shounak worked together during our training when we started our careers. Shounak was one of the most valuable member in the group we had back then with unmatched skills is Java and SQL. Although post training we were assigned to different projects and technologies, but his domain skills can only be matched by how good a friend he is outside work.",
		},
	];
}
function before() {
	var id = document.querySelector("div[data-recommendation-id]");
	var text = document.getElementById("recommendation-text");
	var name = document.getElementById("recommendation-name");
	var occupation = document.getElementById("recommendation-occupation");

	var currentId = parseInt(id.getAttribute("data-recommendation-id").toString());
	var nextId = (currentId + recommendationData().length - 1) % recommendationData().length;
	var newData = recommendationData()[nextId];
	text.innerText = minimizeRecommendation(newData.text);
	name.innerText = newData.name;
	occupation.innerText = newData.occupation;
	id.setAttribute("data-recommendation-id", nextId.toString());
}


function after() {
	var id = document.querySelector("div[data-recommendation-id]");
	var text = document.getElementById("recommendation-text");
	var name = document.getElementById("recommendation-name");
	var occupation = document.getElementById("recommendation-occupation");

	if(!id || !text || !name || !occupation){return;}
	var currentId = parseInt(id.getAttribute("data-recommendation-id").toString());
	var nextId = (currentId + 1)%recommendationData().length;
	var newData = recommendationData()[nextId];
	text.innerText = minimizeRecommendation(newData.text);
	name.innerText = newData.name;
	occupation.innerText = newData.occupation;
	id.setAttribute("data-recommendation-id",nextId.toString());
}

function minimizeRecommendation(item) {
	const wordLimit = 35;
	const addEllipse = item.split(" ").length > wordLimit ? "..." : "";
	return item.split(" ").slice(0, wordLimit).reduce((a, b) => a + " " + b, "") + " " + addEllipse;
}

//Initialize Data after first page load
after();
//Initialize Data after astro swaps between page
document.addEventListener("astro:after-swap", after);
</script>
<style>
	.skillicon {
		box-shadow: 5.7px 11.4px 11.4px hsl(0deg 0% 0% / 0.32);
	}

	section,
	p,
	li,
	img {
		-moz-transition:
			width 1s ease-in-out,
			left 1.5s ease-in-out;
		-webkit-transition:
			width 1s ease-in-out,
			left 1.5s ease-in-out;
		-moz-transition:
			width 1s ease-in-out,
			left 1.5s ease-in-out;
		-o-transition:
			width 1s ease-in-out,
			left 1.5s ease-in-out;
		transition:
			width 1s ease-in-out,
			left 1.5s ease-in-out;
	}
</style>
