---
const today = new Date();
---

<footer>
	<div class="p-1 rounded-sm align-middle snap-center self-center justify-center flex bg-white">
		<div id="qr_code" class=""></div>
	</div>
	YOU HAVE REACHED E(nd)O(f)F(ile) <br />
	&copy; {today.getFullYear()} Shounak Bhalerao. All rights reserved.
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
