---
import { getCollection } from "astro:content";
import TagLayout from "../../../layouts/TagLayout.astro";

---

<TagLayout>
	<div class="text-white p-4">
		INDEX TEXT add all the links here for all tags. in a big screen mode. that would look cool
	</div>
</TagLayout>
