---
import MainLayout from "./MainLayout.astro";
import { posts } from "../collection";
const tags = [...new Set(posts.flatMap((post) => post.data.tags))];
---

<MainLayout>
	<div class="w-full">
		<div class="pb-2">
			<h2 class="font-sans font-bold text-3xl md:text-6xl gap-10 text-white">
				Search By Tags
			</h2>
			<p
				class="font-bold sm:text-xs text-md uppercase bg-gradient-to-b from-teal-300 to-teal-500 inline-block text-transparent bg-clip-text whitespace-nowrap w-full"
			>
				Makes life much easier
			</p>
			<hr class="border-amber-500 pb-2" />
		</div>
		<section class="pb-5">
			<ul class="flex flex-row flex-wrap gap-3">
				<span class="text-white align-middle h-full py-1 px-3 uppercase"
					>Tags :</span
				>
				<a href={`/blog/tags/`}>
					<li
						class="text-black uppercase bg-gradient-to-r from-orange-300 via-sky-300 to-purple-300 py-1 px-3 rounded-xl border-2 border-transparent hover:border-white"
					>
						# All
					</li>
				</a>
				<div class="border-r-2 border-white"></div>
				{
					tags == null || tags.length !== 0 ? (
						tags.sort().map((tag) => (
							<a
								href={`/blog/tags/${tag}`}
								class="py-1 px-3 rounded-xl border-2 border-transparent group hover:border-slate-400 bg-white"
							>
								<li>
									<span class="border-r-2 border-black text-black"># </span>
									<span class="text-slate-400 pl-2 group-hover:text-black"> {tag}</span>
								</li>
							</a>
						))
					) : (
						<span>"N/A"</span>
					)
				}
			</ul>
		</section>
		<hr class="w-full border-2 border-dashed border-amber-500" />
		<slot />
	</div>
</MainLayout>
