---
import MainLayout from "./MainLayout.astro";
import { posts } from "../collection";
import { Image } from "astro:assets";
import search from "/search-icon.svg";

const tags = [...new Set(posts.flatMap((post) => post.data.tags))];
---

<MainLayout>
	<div class="w-full">
		<div class="pb-2">
			<div class="flex flex-row gap-4">
				<h2 class="font-sans font-bold text-3xl md:text-6xl gap-10 text-white">
					Search By Tags :
				</h2>
			</div>
			<p
				class="font-bold sm:text-xs text-md uppercase bg-gradient-to-b from-teal-300 to-teal-500 inline-block text-transparent bg-clip-text whitespace-nowrap w-full"
			>
				Makes life much easier
			</p>
			<hr class="border-amber-500 pb-2" />
		</div>
		<section class="pb-5">
			<ul class="flex flex-row flex-wrap gap-3">
				<span
					class="text-white align-middle min-h-full uppercase py-1 px-3 rounded-xl border-2 border-transparent"
					>Tags :</span
				>
				<div class="inline-flex">
					<input
						id="searchString"
						type="text"
						class="bg-[#333] bg-opacity-25 min-h-full text-white focus-within:bg-opacity-40 py-1 px-3 rounded-xl rounded-r-none bg-no-repeat border-2 border-r-0"
						placeholder="Enter a tag"
						onkeypress="searchByTags(event)"
					/>
					<button
						class="text-white border-white rounded-xl rounded-l-none py-1 px-3 bg-no-repeat border-2"
						onclick=";searchByTags(event)"
					>
						<img
							src="/search-icon.svg"
							alt=""
							class="invert min-h-full h-5 object-cover"
						/>
					</button>
				</div>
				<a transition:name="tags" href={`/blog/tags/`}>
					<li
						class="text-black uppercase bg-gradient-to-r from-orange-300 via-sky-300 to-purple-300 py-1 px-3 rounded-xl bg-no-repeat border-2 border-transparent hover:border-white"
					>
						# All
					</li>
				</a>
				<a transition:name="tags" href={`/blog/tags/Java`}>
					<li
						class="text-black uppercase bg-gradient-to-r from-orange-300 via-orange-500 to-amber-700 py-1 px-3 rounded-xl bg-no-repeat border-2 border-transparent hover:border-white"
					>
						# Java / Kotlin
					</li>
				</a>
				<a transition:name="tags" href={`/blog/tags/System%20Design`}>
					<li
						class="text-black uppercase bg-gradient-to-r from-purple-300 via-purple-500 to-purple-700 py-1 px-3 rounded-xl bg-no-repeat border-2 border-transparent hover:border-white"
					>
						# System Design
					</li>
				</a>
				<a transition:name="tags" href={`/blog/tags/Leet%20Code`}>
					<li
						class="text-black uppercase bg-gradient-to-r from-yellow-300 via-yellow-500 to-yellow-700 py-1 px-3 rounded-xl bg-no-repeat border-2 border-transparent hover:border-white"
					>
						# Leet Code
					</li>
				</a>
				<a transition:name="tags" href={`/blog/tags/Algorithms`}>
					<li
						class="text-black uppercase bg-gradient-to-r from-slate-400 via-slate-500 to-slate-700 py-1 px-3 rounded-xl bg-no-repeat border-2 border-transparent hover:border-white"
					>
						# Algorithms
					</li>
				</a>
				<a transition:name="tags" href={`/blog/tags/cloud`}>
					<li
						class="text-black uppercase bg-gradient-to-tr from-sky-300 via-blue-400 to-blue-800 py-1 px-3 rounded-xl bg-no-repeat border-2 border-transparent hover:border-white"
					>
						# Cloud
					</li>
				</a>
				<div class="border-r-2 border-white"></div>
				{
					tags == null || tags.length !== 0 ? (
						//excludedItems.indexof() should return -1;
						tags
							.sort()
							.filter(
								(tag) =>
									[
										"Algorithms",
										"System Design",
										"Leet Code",
										"Java",
										"Cloud",
									].indexOf(tag) === -1
							)
							.map((tag) => (
								<a
									href={`/blog/tags/${tag}`}
									class="py-1 px-3 rounded-xl border-2 border-transparent group hover:border-slate-400 bg-gradient-to-r from-gray-600 to-gray-800 bg-no-repeat"
								>
									<li>
										<span class="border-r-2 border-black text-black"># </span>
										<span class="text-white pl-2 group-hover:text-slate-400">
											{" "}
											{tag}
										</span>
									</li>
								</a>
							))
					) : (
						<span>"N/A"</span>
					)
				}
			</ul>
		</section>
		<hr class="w-full border-2 border-dashed border-amber-500" />
		<slot />
	</div>
</MainLayout>
<script is:inline>
	function searchByTags(event) {
		//Either Enter is pressed after typing, or search button is left clicked (event.button 0 is left click)
		if (event.key === "Enter" || event.button === 0) {
			let str = document.getElementById("searchString").value;
			str = str.trim();
			if(str === "") return; 
			let currentlocation = window.location.href.endsWith("tags/")
				? window.location.href
				: window.location.origin + "/blog/tags/";
			window.location.href = currentlocation + encodeURIComponent(str);
		}
	}
</script>
